#project-title{
    height: 70px;
    width: 100%;

}

#project-title-text{
    text-align: center;
    size: 40px;
}

#project-text{
    padding: 10px;
    border: 0 black solid;
    word-wrap: break-word;
}